[Unit]
Description=Fix Ubiquiti APT sources
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/fix_apt_ubiquiti_sources.sh

[Install]
WantedBy=basic.target
