[Unit]
Description=Fix hosts
Before=basic.target
After=local-fs.target sysinit.target unifi-core.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/fix_hosts.sh

[Install]
WantedBy=basic.target
RequiredBy=ulp.service
