[Unit]
Description=Create fake block devices
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/mount_loop.sh

[Install]
WantedBy=basic.target
